@import "../../styles/variables";
@import "../../styles/rwd";

.rarity-comp {
  background-color: #000123;

  &-title {
    text-align: center;
    margin: $margin-top-primary 0;
  }

  &-score {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    @include mobile {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 15px;
    }
    @include tablet {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
    }
  }

  &-timeline {
    margin-top: $margin-top-primary;
  }
}

.rarity-comp-score {
  .content-items .item {
    background-color: #D0D2D7;
    width: 100%;
    min-height: 300px;
    box-sizing: content-box;
    position: relative;
    padding: 15px 15px 65px;
    clip-path: polygon(100% 0, 100% 100%, 50% 95%, 0 100%, 0 0);

    .header {
      min-height: 80px;

      .header-title {
        color: #ff1616;
        text-shadow: 0.05678059em -0.01735957em 0em rgb(0, 255, 255), -0.05678059em 0.01735957em 0em rgb(255, 0, 255);
        font-family: TTOctoSquaresMedium, sans-serif;
        font-size: 2.3rem;
        text-transform: uppercase;
        text-align: center;
      }
    }

    .avatar, .name, .rank {
      margin-top: $margin-top-primary;
    }

    .avatar {
      &-item {
        width: 150px;

        div[data-test-id="CircularProgressbarWithChildren__children"] {
          height: 85% !important;
          width: 85% !important;
          margin-top: unset !important;
          overflow: hidden;
          border-radius: 100%;
          top: 50%;
          transform: translate(-50%, -50%);
          left: 50%;
        }

      }
    }

    .name .user-name {
      font-family: TTOctoSquaresLight, sans-serif;
      font-size: 1.2rem;
      text-align: center;
    }

    .score {
      text-align: center;
      margin-top: 30px;

      .file-number {
        margin-top: $margin-top-secondary;
      }

      .score-title {
        font-family: TTOctoSquaresLight, sans-serif;
      }

      .desc {
        font-family: TTOctoSquaresMedium, sans-serif;
        margin-top: 10px;
        font-weight: bolder;
      }
    }

    .rank {
      text-align: center;

      .rank-title {
        font-family: TTOctoSquaresLight, sans-serif;
      }

      .desc {
        font-family: TTOctoSquaresMedium, sans-serif;
        font-weight: bolder;
        margin-top: 10px;
      }
    }
  }
}

.rarity-comp-timeline .items {
  flex-direction: row;
  min-height: 900px;

  .item-container {
    flex: 1;
    padding-left: 0;
    padding-right: 0;

    .item-child {
      padding: 0 10px;

      .header {
        border-radius: 20px;
        padding: 20px 10px;
        width: 100%;
        height: 130px;

        .title {
          color: #ffffff;
          text-align: center;
          font-family: MuliBold, sans-serif;
          font-size: 2.5rem;
          font-weight: bolder;

          &:last-child {
            margin-top: $margin-top-secondary;
          }
        }
      }

      .content {
        background-color: #ededed;
        width: 85%;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        text-align: center;
        padding: 10px;
        min-height: 300px;

        .detail {
          font-family: "Times New Roman", sans-serif;
          font-weight: bold;
          font-size: 1.8rem;

          &:not(:last-child) {
            margin-bottom: $margin-top-secondary;
          }
        }
      }
    }

    &:nth-child(even) {
      display: flex;
      justify-content: center;
      align-self: flex-end;
    }

    @include mobile {
      flex-wrap: wrap;
      flex: unset;
      width: 100%;
      &:nth-child(even) {
        display: unset;
        align-self: unset;
      }
      &:not(:last-child) {
        margin-bottom: $margin-top-primary;
      }
    }

    @include tablet {
      flex-wrap: wrap;
      flex: unset;
      width: 50%;
      &:nth-child(even) {
        display: unset;
        align-self: unset;
      }
    }
  }
}

.rarity-comp-scroll {
  .scroll-img {
    width: 80px;
    margin-top: $margin-top-primary;

    img {
      width: 100%;
    }
  }
}