@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;400;500;600&display=swap');

@import "./variables";
@import "./rwd";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  //font-family: 'Kanit', sans-serif;
  font-family: MainFont, sans-serif;
}

.App {
  width: 100vw;
}

.comp-height {
  min-height: 100vh;
  padding: 20px 0;
}

.comp-primary-btn {
  font-family: 'Kanit', sans-serif;
  background-color: #3F3F40;
  color: #ffffff;
  padding: 10px 0 10px 20px;
  border-radius: 25px;
  border: none;
  outline: none;
  font-size: 1.2rem;
  transition: .3s ease-in;

  &-icon {
    background-color: #ffffff;
    color: #000000;
    border-radius: 100%;
    font-size: 30px;
    margin-right: 5px;
    margin-left: 15px;
  }

  &:hover {
    background-color: #ffffff;
    color: #000000;
  }

  @include smallScreen {
    padding: 5px 0 5px 10px !important;
    &-icon {
      font-size: 20px;
    }
  }
  @include mobile {
    padding: 5px 0 5px 10px;
  }
}

.comp-primary-title {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 2.5rem;
  font-family: MainFont, sans-serif;
  font-weight: bold;
}

.comp-border-neon-shadow {
  box-shadow: 0 0 15px 6px #3F3F40 inset, 0 0 15px 6px #3F3F40;
  background-color: transparent;
  border: 4px solid #ffffff;
  border-radius: 50px;
  padding: 25px;
}

.comp-content-box {
  color: #ffffff;
  font-family: 'Kanit', sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;

  &:not(:last-child) {
    margin-bottom: $margin-top-secondary;
  }

  @include tablet {
    font-size: 1.2rem;
  }
}