@import "../../styles/variables";
@import "../../styles/rwd";

.about-comp {
  background-color: #000123;

  &-items {
    padding: 50px 0;
  }
}

.about-comp-items .content-item {
  .content-desc {
    margin-top: $margin-top-primary;
    padding: 25px;
    text-align: center;
    width: 80%;
    border-radius: 50px;

    .content {
      color: #ffffff;
      font-family: TTOctoSquaresLight, sans-serif;
      font-size: 1rem;
      line-height: 1.5rem;

      &:not(:last-child) {
        margin-top: $margin-top-secondary;
      }

      @include tablet {
        font-size: 1.2rem;
      }
    }

    @include mobile {
      width: 100%;
    }

    @include tablet {
      width: 100%;
    }
  }
}

.about-comp-items {
  .content-img {
    img {
      width: 100%;
    }

    @include mobile {
      margin-top: $margin-top-primary;

      img {
        width: 80%;
      }
    }

    @include tablet {
      margin-top: $margin-top-primary;

      img {
        width: 80%;
      }
    }
  }
}

.about-comp-scroll {
  text-align: center;

  .scroll-title {
    color: $primary-color;
    font-family: TTOctoSquaresExp, sans-serif;
  }

  .scroll-img {
    width: 80px;
    margin-top: $margin-top-primary;

    img {
      width: 100%;
    }
  }
}