@import "../../styles/variables";
@import "../../styles/rwd";

.banner-comp {
  background: url("../../assets/gifs/bannerBg.gif") no-repeat center;
  background-size: cover;
  position: relative;
  min-height: 70vh;

  &-blur-bg {
    background-color: rgba(255, 255, 255, .5);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
  }

  &-container {
    min-height: calc(70vh - 61px);
    position: relative;
  }
}

.banner-comp-container .banner-comp {
  &-title, &-subtitle, &-btn, &-scroll {
    z-index: 1;
  }

  &-title, &-subtitle h4 {
    color: #000000;
  }

  &-title {
    font-size: 7vw;
    text-align: center;
    font-family: TTOctoSquaresMedium, sans-serif;
    line-height: 8vw;
    @include mobile {
      font-size: 8vw;
    }
  }

  &-subtitle {
    h4 {
      text-align: center;
      font-size: 2vw;
      font-family: MuliBold, sans-serif;
      line-height: 3vw;
      @include smallScreen {
        line-height: 4vw;
      }
      @include mobile {
        font-size: 3.5vw;
        line-height: 6vw;
      }
    }

    @include mobile {
      margin: 12px 0;
    }
  }

  &-scroll {
    width: 80px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    img {
      width: 100%;
    }
  }
}